<h1>Create a new user!</h1>


<form method="POST" action="/users">
    <label for="user[name]">Name:</label>
    <input type='text' name="user[name]"/>
    <br>
    <label for="user[email]">email:</label>
    <input type='text' name="user[email]"/>
    <br>
    <label for="user[age]">age:</label>
    <input type='number' name="user[age]"/>
    <br>
    <label for="user[coffee_lover]">coffee_lover:</label>
    <input type='checkbox' name="user[coffee_lover]" value="true"/>
    <br>
    <label for="user[vegan]">vegan:</label>
    <input type='checkbox' name="user[vegan]" value="true"/>
    <br>
    <label for="user[gender]">gender:</label>
    <input type='text' name="user[gender]"/>
    <br>
    <label for="user[food_restrictions]">food_restrictions:</label>
    <input type='text' name="user[food_restrictions]"/>
    <br>
    <br>
    <input type="submit" value="Create User">
</form>