<h1>All the users!</h1>
<%= @monkey %>

<h3>The users....</h3>

<!-- this is a comment -->

<% @users.each do |user| %>
    <a href='/users/<%= user.id %>'><h6><%= user.name %> | vegan: <%= user.vegan %> </h6></a>
<% end %>